.floating-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-right: 1rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.floating-div>img{
    transform: scale(0.6);
}